{
  "presets": [
    ["@babel/preset-env", {
      "useBuiltIns": "usage",
      "targets": {
        "browsers": [
          "last 2 versions",
          "ie >= 11"
        ]
      }
    }]
  ],
  "plugins": [
    "@babel/plugin-proposal-object-rest-spread",
    ["transform-react-jsx", { "pragma": "h" }]
  ]
}
