:root {
  --appbar-height: 60px;
  --appbar-color: #455a64;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.no-padding {
  padding: 0!important;
}

.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.gutter {
  margin: 0 auto;
  padding: 0 15%;
  width: 100%;
}

.appbar {
  z-index: 1;
  width: 100%;
  height: var(--appbar-height);
  background-color: #fff;
  border-bottom: solid 1px #cfd8dc;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.appbar-inner {
  height: inherit;
  display: flex;
  align-items: stretch;
}

.menu-items {
  display: flex;
  align-items: center;
  list-style-type: none;
  width: 300px;
  margin: 0;
}

.menu-items > li {
  padding: 0 10px;
  height: 100%;
  line-height: var(--appbar-height);
  width: 88px;
  text-align: center;
}

.menu-items a {
  text-decoration: none;
  font-weight: 300;
  font-family: 'Roboto', 'Helvetica', sans-serif;
  color: var(--appbar-color);
  display: inline-block;
  width: 100%;
}

.menu-items > li.selected {
  border-bottom: solid 2px var(--appbar-color);
}

.menu-items > li:hover > a {
  font-weight: 400;
}

.menu-items > li.selected > a {
  font-weight: 400;
}

.home {
  z-index: 2;
}

.page {
  background-color: #f5f5f5;
  padding-bottom: 40px;
  flex: 1;
}

.menu-button { height: 100%; }

.hero-main {
  width: 100%;
  padding-bottom: 10px;
  box-shadow: 0 0 4px rgba(0,0,0,.14), 0 4px 8px rgba(0,0,0,.28);
  background-color: #fff;
}

.hero-banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image {
  height: 125px;
  width: auto;
}

.hero-banner > .banner-item {
  text-align: center;
  margin: 24px 16px;
}

.hero-link-wrapper {
  height: 60px;
  line-height: 50px;
}

.hero-links {
  display: flex;
  justify-content: space-between;
}

.hero-links li { list-style-type: none; }

.hero-links a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  color: #7e57c2;
  height: 100%;
  line-height: 60px;
  display: inline-block;
  transition: 0.4s ease;
  padding: 0 16px;
  border-radius: 4px;
}

.hero-links a:hover { background-color: #ede7f6; }

.event {
  margin-top: 24px;
}

.events-title, .about-title {
  margin: 24px 0;
  font-weight: 300;
}

.events-events {
  display: flex;
  align-items: center;
  justify-content: center;
}

.event-card {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event-card-grid-item { display: flex; }

.event-card h1 { display: none; }

.event-card h2 {
  font-size: 20px;
  font-weight: 400;
}

a, a span { 
  text-decoration: none; 
  color: #7e57c2;
}

.event-time {
  color: rgba(0, 0, 0, 0.63);
}

.footer-main {
  width: 100%;
  font-family: 'Roboto', sans-serif;  
  color: #eceff1;
  
}

.footer-main p {
  margin: 0;
}

.footer-content {
  background-color: #455a64;
}

.footer-tagline {
  background-color: #263238;
  height: 40px;
}

.footer-tagline p {
  line-height: 40px;
}

.footer-content .connect {
  padding: 16px 0;
}

.footer-content .connect > ul {
  list-style-type: none;
  padding-left: 16px;
  margin: 0;
}

.footer-content .connect li {
  line-height: 24px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

.footer-content .connect li > a {
  text-decoration: none;
  color: #cfd8dc;
  transition: 0.3s color ease;
}

.footer-content .connect li > a:hover {
  color: #90a4ae;
}

.footer-content .connect > h2 {
  margin: 0;
  padding-top: 8px;
  font-weight: 400;
}

.event {
  width: 100%;
}

.event-detail-card-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: space-between;
}

.event-details {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.event-details h1, .event-details h2 {
  font-weight: 300;
}

.event-media-map, .map-container { display: flex }

#map {
  min-height: 400px;
  width: 400px;
}

.event-timings > span {
  margin-bottom: 12px;
}

.event-timings, .event-cost {
  display: flex;
}

.event-timings h1, .event-cost h1 {
  font-weight: 300;
}

.event-timings span, .event-cost span {
  font-size: 40px;
  opacity: 0.7;
}

.event-timings > *, .event-cost > * {
  display: inline-block;
}

.event-timings h1, .event-cost h1 {
  margin-left: 8px;
  margin-right: 16px;
}

.event-timings h1 {
  color: #000;
}

.event-cost h1 {
  color: #4a4a4a;
}

.info {
  display: flex;
}

.event-cost {
  margin-bottom: 24px;
}

.event-title {
  font-weight: 300;
}

.about {
  padding-bottom: 40px;
}

.committee-image {
  height: 150px;
  width: 150px;
  margin-bottom: 24px;
  border-radius: 300px;
  background-size: contain;
}

.committee-container h2, .committee-container h3 {
  font-weight: 300;
}

.about-title {
  margin: 64px;
}

.member-role {
  font-weight: 300;
}

.member { width: 100%; }

.member-card {
  display: flex;
  flex-direction: row;
}

.member-image {
  height: 400px;
  width: 400px;
}

.member-content {
  margin-top: 50%;
  display: flex;
  margin-left: 24px;
  justify-content: center;
  flex-direction: column;
  flex: 1;
}

.member-headline * {
  font-weight: 300;
}

.member-headline h1 {
  color: #000;
}

.member-headline, .member-para {
  margin-top: auto;
}

.member-para {
  font-family: 'Roboto', sans-serif;
}
.member-para > p {
  margin: 8px 0;
  color: #0e0e0eb5;
  font-size: 14px;
}

@media screen and (max-width: 960px) {
  .hero-banner {
    flex-direction: column;
  }
  h1.banner-item {
    text-align: center;
  }

  .event-detail-card-container {
    flex-direction: column;
  }

  .map-container {
    max-width: 100%;
  }

  .event-timings {
    flex-direction: column;
  }

  .map-container, #map {
    width: 100%;
  }

  .member-card {
    flex-direction: column;
  }

  .member-image {
    width: 100%;  
  }

  .member-content {
    margin-top: 0;
  }
}

@media screen and (max-width: 540px) {
  .menu-items {
    display: none;
  }

  .hero-link-wrapper.gutter {
    padding: 0;
  }

  .hero-links {
    padding-left: 0;
  }
}